[core]
	excludesfile = ~/.gitignore
	editor = nvim
	ignorecase = false
[push]
  default = simple
[color]
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto
  ui = auto
[alias]
  a = "!git status --short | peco | awk '{print $2}' | xargs git add"
  d = diff
  co = checkout
  ci = commit
  ca = commit -a
  ps = "!git push origin $(git rev-parse --abbrev-ref HEAD)"
  pl = "!git rev-parse --abbrev-ref --symbolic-full-name @{u} | awk -F'/' '{print $1}' | xargs -I {} git pull {} $(git rev-parse --abbrev-ref --symbolic-full-name @{u} | awk -F'{}/' '{print $2}'):$(git rev-parse --abbrev-ref HEAD)"
  st = status
  br = branch
  ba = branch -a
  bm = branch --merged
  bn = branch --no-merged
  df = "!git hist | peco | awk '{print $2}' | xargs -I {} git diff {}^ {}"
  hist = log --pretty=format:'%Cgreen%h %Creset%cd %Cblue[%cn] %Creset%s%C(yellow)%d%C(reset)' --graph --date=relative --decorate --all
  llog = log --graph --name-status --pretty=format:'%C(red)%h %C(reset)(%cd) %C(green)%an %Creset%s %C(yellow)%d%Creset' --date=relative
  open = "!hub browse"
  type = cat-file -t
  dump = cat-file -p
  find = "!f() { git log --pretty=format:'%h %cd [%cn] %s%d' --date=relative -S'pretty' -S$@ | peco | awk '{print $1}' | xargs -I {} git diff {}^ {}; }; f"
  # edit conflicted file on merge
  edit-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; vim `f`"
  # add conflicted file on merge
  add-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"

[hub]
  protocol = https
[github]
	user = nenoteerawat
[diff]
  tool = nvimdiff
[difftool "nvimdiff"]
	cmd = nvim -d "$LOCAL" "$REMOTE"
[merge]
	tool = nvimdiff
[mergetool "nvimdiff"]
	cmd = nvim -d "$LOCAL" "$BASE" "$REMOTE" "$MERGED" -c '$wincmd w' -c 'wincmd J'
	trustExitCode = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[ghq]
  root = ~/.ghq
# Route pttep work orgs to the work-account SSH host alias (github.com-pttep -> pttep_gh_id).
# All three URL spellings are rewritten so `ghq get` works with any of them while keeping
# the clean ~/.ghq/github.com/<org>/<repo> layout (ghq derives the path from the original
# URL, before git applies these rewrites):
#   - https://github.com/<org>/         -> HTTPS form and the `ghq get <org>/<repo>` shorthand
#   - git@github.com:<org>/             -> scp-style form for a direct `git clone`
#   - ssh://git@github.com/<org>/       -> the form ghq normalizes scp-style URLs into
[url "git@github.com-pttep:pttep-pcl/"]
	insteadOf = https://github.com/pttep-pcl/
	insteadOf = git@github.com:pttep-pcl/
	insteadOf = ssh://git@github.com/pttep-pcl/
[url "git@github.com-pttep:pttep-fusionsol/"]
	insteadOf = https://github.com/pttep-fusionsol/
	insteadOf = git@github.com:pttep-fusionsol/
	insteadOf = ssh://git@github.com/pttep-fusionsol/
